@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400.600');

$gap :10px;

// sum = 99vh; 1vh for scrollbar
$navbar-app-height:5vh;
$navbar-board-height:6vh;
$board-content-height:88vh;

//color
$board-bg-color:rgb(215, 221, 250);
$bg-common-element:rgba(43, 18, 18, 0.24);
